<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='show_time.js') }}"></script>
    <title>Countdown</title>
</head>
<body onload="showTime()">
    <div id="clockDisplay" class="clock">
        <script>startCountdown()</script>
    </div>
</body>
</html>
