body {
    background: black;
}

.clock {
    position: absolute;
    top: 50%;
    left: 5%;
    right: 5%;
    transform: translateX(0%) translateY(-50%);
    color: #17D4FE;
    font-size: 350px;
    font-family: monospace;
    letter-spacing: 7px;
}